<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectname">Project name</label>
          <input
            type="text"
            id="projectname"
            class="form-control"
            formControlName="projectname">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email">
        </div>
        <div class="form-group">
          <label for="status">Project status</label>
          <select id="status" class="form-control"  name="status"  formControlName="status">
              <option value="stable">Stable</option>
              <option value="critical">Critical</option>
              <option value="finished">Finiched</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>

      <div *ngIf="submitted">
        <h4>Project name: {{form.projectname}} </h4>
        <p>Email: {{form.email}}</p>
        <p>Project status: {{form.status}}</p>
      </div>
    </div>
  </div>
</div>
